@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#myApp {
    height: 100vh;
}

.logo-header {
    max-width: 80px;
}

.link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
}

.title-header {
    color: #000;
}

.main-header {
    padding: 2rem 1rem;
    border-bottom: solid #000;
}

.product-list.container.row {
    margin: auto;
}

/* PLP / Home */
#main-page{
    background-color: #fafafa;
    font-family: "DM Sans";
}

.product-item .card {
    width: 100%;
    padding: 15px 0 0 15px;
    border-radius: 12px 32px 12px 12px;
    display: flex;
    margin: 5vh auto;
    justify-content: center;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: unset;
}

.product-item:nth-child(even) .card {
    border-radius: 32px 12px 12px 12px;
}

.card a {
    text-decoration: unset;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
}

.card img {
    width: auto;
    max-height: 200px;
    height: 60vh;
    display: block;
    margin: 10px auto;
}

.card span {
    color: #000;
    font-weight: 500;
}

.card-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .product-add-to-cart {
    border-radius: 8px 0px;
    background: #FF9F24;
    padding: 0px 10px;
    color: #fff;
    font-size: 30px;
}

.card .product-price {
    color: #323232;
    font-weight: 500;
    font-size: 16px;
}

/* PDP */
#product-page {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-page .pdp-product-image {
    border-radius: 12px;
    height: 60vh;
    display: block;
    margin: auto;
}

#product-page .pdp-name {
    font-weight: 700;
    color: #0F0D23;
    font-size: 30px;
}

#product-page .pdp-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product-page .pdp-price-container {
    display: flex;
}

#product-page .pdp-price-container .pdp-price:first-child {
    display: block;
}

#product-page .pdp-price {
    display: none;
    color: #FF9F24;
    font-weight: 700;
    font-size: 26px;
}

#product-page .pdp-origin-stock {
    display: flex;
    align-items: center;
    color: #969696;
    font-size: 14px;
    font-weight: 400;
}

#product-page .pdp-origin::after {
    content: " | ";
    margin-right: 5px;
}

#product-page .pdp-origin-stock .pdp-stock {
    display: none;
}

#product-page .pdp-origin-stock .pdp-stock:first-child {
    display: block;
}

#product-page .pdp-description {
    margin-top: 40px;
}

#product-page .pdp-description .pdp-title-info {
    font-size: 18px;
    color: #323232;
    font-weight: 700;
}

#product-page .pdp-description .pdp-info {
    font-size: 14px;
    font-weight: 400;
    color: #969696;
}

#product-page .sku-selector {
    margin-top: 40px;
}

#product-page .sku-selector .sku-title {
    color: #323232;
    font-size: 18px;
    font-weight: 700;
}

#product-page .sku-selector .sku-item {
    color: #969696;
    text-decoration: unset;
    padding: 5px 15px;
    display: inline-block;
    border: solid 1px #969696;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#product-page .sku-item-container .sku-item:first-child {
    color: #FF9F24;
    border-color: #FF9F24;
}

#product-page .sku-item-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.warning-message {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    #product-page .pdp-description,
    #product-page .sku-selector {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .product-item .card {
        width: 70%;
    }

    #product-page {
        display: block;
    }

    #product-page .pdp-product-image {
        border-radius: 12px;
        height: 40vh;
        margin: auto;
        display: block;
    }

    #product-page .pdp-image-container.col-sm-5 {
        margin: 0 auto 20px;
    }

    #product-page .pdp-info-containe.col-sm-5r {
        background: #fff;
        border-radius: 20px;
        padding: 20px;
    }

    #product-page .pdp-name {
        font-size: 24px;
    }

    #product-page .pdp-price {
        font-size: 24px;
    }

    #product-page .pdp-description {
        margin-top: 25px;
    }

    #product-page .pdp-description .pdp-title-info {
        font-size: 16px;
    }

    #product-page .sku-selector .sku-title {
        font-size: 16px;
    }

    #product-page .sku-selector {
        margin-top: 25px;
    }

    #product-page .sku-selector .sku-item {
        font-size: 14px;
    }
}